<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    </head> 
    <body>
        <h1>Rango says...</h1>
        <h2> here is the about page.</h2>
        <div>
             <!-- hey there partner!<br /> -->
             This tutorial has been put together by Shujing Shi.

        </div> 
        <div>
            <a href="/rango/">Index</a><br />
            <!-- Static File -->
            <!-- <img src=\"{settings.STATIC_URL}images/rango.jpg\" alt=\"Picture of Rango\" /> -->
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
            <!-- New line -->

            <!-- Media File -->
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat.?" />
            
        </div>
    </body>
</html>